@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Azeret Mono", monospace;
  background-image: url("https://img.freepik.com/free-photo/white-paper-texture_1194-5416.jpg?w=900&t=st=1674319784~exp=1674320384~hmac=bd1ddc66d34c4cf02542285d65be92106a2e0f5929721b859ef79a523f55b304");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: clamp(2rem, 4vw + 1rem, 6rem);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #ccc;
}

.selection {
  display: none;
}

.title {
  font-size: clamp(1rem, 0.8vw + 1rem, 2rem);
  text-align: center;
  padding: 0 0.5rem 2rem;
}

.options {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.options button {
  width: 8rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  background-color: #fafafa;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  transition: box-shadow 200ms ease-in-out;
}

.options button:hover {
  box-shadow: 0.2rem 0.2rem black;
}

/* .selection {
  display: none;
} */

/* game-board */
.game {
  display: none;
}
.game-board {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.players-turn {
  text-align: center;
  margin: 0 auto 2rem;
  width: 70%;
  border-radius: 0.3rem;
  padding: 0 1rem;
  border: 0.1rem solid black;
}

.box {
  height: clamp(6rem, 9vw + 1rem, 10rem);
  width: clamp(6rem, 9vw + 1rem, 10rem);
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.b1,
.b2,
.b3 {
  border-bottom: 0.1rem solid black;
}

.b1,
.b4,
.b7 {
  border-right: 0.1rem solid black;
}

.b3,
.b6,
.b9 {
  border-left: 0.1rem solid black;
}

.b7,
.b8,
.b9 {
  border-top: 0.1rem solid black;
}

/* result section */
.result-section {
  text-align: center;
}

.trophy {
  font-size: 7rem;
  margin-bottom: 2rem;
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
